<div>
  <h1>Compra finalizada</h1>
  <div style="text-align:center">
    <img src="cid:logo" />
  </div>
  <h1>Detalle de Compra</h1>
  <p>Hola {{name}},</p>
  <p>Gracias por tu compra!</p>
  <br />
  <p> El numero de ticket es: {{ticket}}</p>
  <p> Fecha de compra: {{date}}</p>

  <p>Saludos!</p>
  <p>Music Store</p>
</div>