<div>
    <h1>
        ¡Hola, {{user.firstName}}!
    </h1>
    <p>¡Bienvenido a Music Store!</p>
    <h2>Puedes comenzar a ver nuestro catálogo de instrumentos en <a href="http://localhost:8080" style="color:yellow;">Aquí</a></h2>
</div>