<div>
  <h1>Carrito de compras</h1>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody id="cartContainer">

    </tbody>
  </table>
</div>
<div>
  <a href="/purchase"><input
      type="submit"
      value="Finalizar compra"
      id="purchaseBtn"
    /></a>
</div>
<script src="/js/carts.js"></script>