
<div>
    <form id="loginForm">
        <h1>Login</h1>
        <br>
        <label>E-mail</label>
        <input name="email">
        <br>
        <label>Contraseña</label>
        <input type="password" name="password">
        <br>
        <br>
        <button type="submit">Iniciar sesión</button>
        <br>
        <br>
        <p>¿Aún no estás registrado? Registrate <a href="/register">aquí</a></p>
    </form>
    <p class="githubLink">Tambien puedes ingresar por <a href="/api/sessions/github"><button>GitHub</button></a></p>
    <br>
    <p class="githubLink">¿Olvidaste tu contraseña? Puedes restablecerla <button onclick="restorePassword()">aquí</button></p>
</div>

<script src="/js/login.js"></script>