<form id="restoreForm">
    <h1>Restablece tu contraseña</h1>
    <br>
    <input name="newPassword">
    <br>
    <br>
    <input type="submit">
</form>

<script src="/js/passwordRestore.js"></script>