* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
    margin: 20px;
  }
  .subtitle {
    font-size: 28px;
    text-align: center;
    margin: 5px;
  }
  .formProducts {
    margin: 20px auto;
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid   }
  .label {
    font-size: 20px;
  }
  
  .controls {
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
  }
  
  .btn {
    width: 75%;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
  }
  
  .btn-add {
    background-color: rgb(61, 144, 239);
    color: white;
  }
  
  .btn-delete {
    background-color: rgb(242, 73, 73);
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .card {
    display: flex;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin: 5px 15px;
    border: 2px solid;    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .card-img {
    width: 150px;
    padding: 0.5rem;
  }
  
  .card-body {
    width: 200px;
    padding: 5px;
    text-align: center;
  }
  .card-info {
    width: 100%;
    padding: 5px;
    text-align: left;
  }
  .card-title {
    text-align: center;
    font-size: 20px;
  }
  
  .card-text {
    font-size: 14px;
  }